body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1F252E;
  color: #fff;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

section {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  color: #333;
}

section h2 {
  color: #1F252E;
}

section p {
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

footer a {
  color: #00E8F8;
}

footer a:hover {
  color: #00C7DF;
}
